asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.4
dill==0.4.0
Django==4.2.23
django-bootstrap-v5==1.0.11
django-extensions==4.1
dotenv==0.9.9
idna==3.10
MarkupSafe==3.0.2
numpy==2.0.2
packaging==25.0
pandas==2.3.0
pycparser==2.22
pyOpenSSL==25.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
sasctl==1.11.5
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
